<!DOCTYPE html>
<html>
  <head>
    <title>Self destructing messages</title>
    <%= javascript 'aes.js' %>
    <%= javascript 'functions.js' %>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
