<% unless params.valid? %>
  <div class="errors">
    <h2>Some issue with the submission occurred</h2>
    <ul>
      <% params.error_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :message, '/link' do
  div class: 'heading' do
    <h1>'Add New Message'</h1>
  end
  div class: 'input' do
    label :text
    text_area :text, class: 'form-control'
  end
  submit 'Create Message'
  end %>
